.FeaturedProject {
    border: 2px solid purple;
    border-radius: 10px;
    padding: 50px;
    height: 400px;

    background-image:
        linear-gradient(to right, #080015 0%, #080015 25%, transparent 70%),
        url('/src/assets/featuredImage.png');

    background-size: 120%;
    background-position: 70% 50%;
    background-repeat: no-repeat;
}